body{
    margin:0;
    padding:0 20%;
    font-size: 1.3rem;
    background-color: rgb(254, 255, 237);
    color: black;
    font-family: 'Nunito', sans-serif;
    padding-top:1rem;
}

.switch{
    display: inline-block;
    right: 10%;
    width: 40px;
    height: 20px;
    background-color:#ccc;
    border-radius: 20px;    
}


.slider{
    display: inline-block;
    width:100%;
    height:100%;
    border-radius:20px;
    cursor: pointer;
}

.switch input{
    display: none;
}  



  .slider::after {
    content: "";
    display:inline-block;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    left: 2px;
    bottom: 3px;
    transition: transform 0.3s;
    position:relative;
  }

  input:checked + .slider {
    background-color: #007bff; /* Цвет включенного состояния */
  }

  input:checked + .slider::after {
    transform: translateX(20px);
  }

  .dark{
    display:flex;
    align-items: center;
    margin: 1rem 0;
    justify-content: flex-end;
    flex-flow:row reverse;
  }

  .description{
    margin: 0 1rem;
    font-size:1rem;
  }

 

@media only screen and (max-width: 860px) 
{
    body{
        padding:0 5%;
        
    }
}

@media only screen and (max-width: 700px)
{
    body{
        font-size: 1.2rem;
    }

    
}


/* header */

header {
    display: flex;
    align-items: stretch;
    border:4px solid black;
    align-content: center;
    padding:1rem;
    font-family: 'Roboto Slab', serif;
}

header a{
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
}

header a:hover{
    color: orange;
    transition: 0.5s;
}

header li{
    list-style: none;
    
}

header ul{
    margin:auto;
    padding: 0;
    display: grid;
    grid-template: 50% 50%/ 30% 50%;
    height:100%;
    align-items: center;
}

.intro h1, p{
    margin: 0;
}

.navigation{
    display: block;
    width:50%;
}

.navigation nav{
    height:100%;
    
}

.intro{
    display: flex;
    width:50%;
    text-align: right;
    flex-direction:column;
    justify-content: space-around;
    font-style:italic;

}

@media only screen and (max-width: 700px){
    header ul{
        display: flex;
        justify-content:space-around;
        flex-wrap:wrap;
        
        
    }

    header li{
        margin:0.2rem;
    }

    header a{
        font-size: 1.2rem;
    }

    header h1{
        font-size:1.8rem;
    }

    .intro{
        width:90%;
        text-align: center;
        border-bottom: 4px solid gray;
        padding: 0.5rem;
    }

    header{
        flex-direction:column-reverse;
        border: 0;
        padding: 0;
    }

    .navigation{
        width:100%;
    }
}

@media only screen and (max-width: 800px){
    header ul{
        grid-template: 50% 50%/ 40% 50%;
    }
}


/*portfolio*/

#about{
 
    margin: 1.5rem 0; 
    overflow:hidden;
    text-align:justify;
}

#about h2{
    
    margin-top: 0;
}

#about figure{
    display: inline-block;
    width:30%;
    margin: 0 0 0.5rem 2rem;
    float:right
}

#about img{
    
    height: auto;
    width: 100%;


}

#about img:hover{
    cursor:pointer;
}

#about p{
    
    margin-right: 1rem;
    
   
}

#about figure{
    text-align:center;
}

@media only screen and (max-width: 860px) {
    #about figure{
        width:30%;
    }
}

@media only screen and (max-width: 700px){
    #about figure{
        width:30%;
    }

}







/*projects*/
#projects figure{
    display: flex;
    width:100%;
    flex-wrap:wrap;
    margin: 0;
    padding: 0;
    justify-content: center; 
    
}

#projects img{
    width:80%;
    height: auto;
    margin: 1.2rem;
    padding-right: 20%;
}

#projects figcaption{
    width:80%;
    padding-right:20%;
    text-align:center;
}

#projects p{
    margin: 1.5rem 0;
}

#projects summary{
    margin: 0.5rem 0;
    padding:0.1rem;
    
    font-family: 'Kanit', sans-serif;
}
#projects summary:hover{
    cursor:pointer;
}




/*skills*/

td img{
    width:20%;
    height: auto;
    margin: 0.5rem;
}

td{
    text-align:center;
    border: 1px solid black;
}

table{
    width:60%;
    margin: 1.5rem auto;
}

#skills{
    border-bottom: 4px solid gray;
}


@media only screen and (max-width: 700px){
    table{
        width:100%;
    }

    td img{
        width:30%;
        
    }
}



/*footer*/

footer{
    margin:2rem 0;
    text-align:center;
    
}

